<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <servlet>
        <servlet-name>RTreeServlet</servlet-name>
        <servlet-class>com.neu.RTreeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RTreeServlet</servlet-name>
        <url-pattern>/RTreeServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>baiduMap.jsp</welcome-file>
    </welcome-file-list>
</web-app>
